{% layout 'apps' %}

<div class="apps">
    <div class="apps__info">
        <div class="apps__info-inner">
            <div class="apps__info-icon"></div>
            <div class="apps__info-descr">{{ 'apps.category.contact_us_slogan' | t }}</div>
            <a href="#" class="btn btn--red btn--lg btn--round" ng-click="showBecomeADeveloperForm()">{{ 'apps.category.become_a_developer' | t }}</a>
        </div>
    </div>
    <div class="container">
        <div class="apps__items">
            <div class="apps__items-t">
                <h1>{{ collections['featured'].title }}</h1>
                <a class="ml-sm-auto" href="{{ collections['featured'].url | absolute_url }}">View All</a>
            </div>
            <div class="list list--cards row">
                {% assign featured_products = collections['featured'].products | sort:"createddate:desc" %}
                {% for product in featured_products limit: 5 %}
                    {% include 'grid-item' %}
                {% endfor %}
            </div>

            <div class="apps__items-t">
                <h2>{{ 'apps.category.new_extensions' | t }}</h2>
            </div>
            <div class="list list--cards row">
                {% assign new_extensions = collections['new-extensions'].products | sort:"createddate:desc" %}
                {% for product in new_extensions limit: 5 %}
                    {% include 'grid-item' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
