<div class="blog" itemtype="http://schema.org/Blog" itemscope ng-controller="blogController">
    <div class="posts __responsive container" itemprop="blogPosts">
        <h1 class="blog__t">{{blog.title}}</h1>
        <div class="list list--tags">
            <a class="list__item" ng-disabled="isLoading" ng-click="setCurrentCategory('');">All</a>
            {% for category in blog.categories %}
                {% assign category_handle = category | handleize %}
                {% assign blog_url = '~/blogs/' | append: blog.handle  %}
                {% assign category_url = '/blog/category/' | append: category %}
                {% assign categoryName = "blogs.categories." | append: category | t %}
                <a class="list__item" ng-disabled="isLoading" ng-click="setCurrentCategory('{{category}}');">{{categoryName}}</a>
            {% endfor %}
        </div>
        {% assign sticked_article = blog.articles | where: 'IsSticked', '==', true | sort_list: 'publishedAt:desc' | first %}
        {% assign page_size = 10 %}
        <div class="blog-main">
            {% include 'blog-sticked-item' article: sticked_article %}
            {% include 'blog-subscribe' %}
        </div>
        {{ settings.blog.sticked_article_url }}
    </div>

    <div class="posts __responsive container" ng-init="getArticles()" ng-if="articles || articles.length">
        {% raw %}
            <div class="blog__t" ng-if="currentTag && currentTag != '' && articles.length > 0">Articles by tag "{{currentTagLabel}}"</div>
            <div class="blog__t" ng-if="!isLoading && currentTag != '' && articles.length == 0">No articles by tag "{{currentTagLabel}}"</div>
        {% endraw %}
        <div class="list list--posts">
            {% include 'blog-list-item-js' %}
        </div>
    </div>
    <div class="more __responsive container" ng-if="!isLastPage">
        <a class="btn btn--lg" style="justify-content: center; width: 100%; margin: 20px 0;" ng-class="{ 'loading': isLoading }" ng-click="getArticles()">Older</a>
    </div>
</div>
<script>
    window.blogName = '{{ blog.handle }}';
    window.currentBlogCategory = '{{ blog_search.category }}';
    window.currentBlogTag = '{{ blog_search.tag }}';
    window.pageSize = {{ page_size }};
    window.excludedArticleHandles = ['{{ sticked_article.url }}'];
</script>
