<div class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.no_top == True %} section--small-top {% endif %} {% if block.no_bottom == True %} section--small-bottom {% endif %}">
    <div class="section__inner container">
        <h2 class="section__t">{{ block.title }}</h2>
        {% if block.intro != blank %}
        <div class="section__descr">
            {{ block.intro }}
        </div>
        {% endif %}
        <div class="list list--columns row">
            {% for item in block.items %}
            <div class="list__item {{ block.colStyle }}">
                <img src="{{ item.image.url }}" alt="" class="list__icon">
                {% if item.title != blank %}
                <div class="list__t">{{ item.title }}</div>
                {% endif %}
                {% if item.text != blank %}
                <div class="list__descr">
                    {{ item.text }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %}


{% endcomment %}
