<div class="section">
    <div class="section__inner container">
        {% if block.title != blank %}
        <h2 class="section__t">{{ block.title }}</h2>
        {% endif %}
        {% if block.content != blank %}
        <div class="section__descr">
            {{ block.content }}
        </div>
        {% endif %}
        <div class="columns">
            {% for column in block.columns %}
            <div class="columns__item columns-3">
                <div class="columns__inner{% if block.frame == 'True' %} has-border{% endif %}">
                    {% if column.url != blank %}
                    <img src="{{ column.url }}" alt="" class="columns__pic">
                    {% endif %}
                    {% if column.title != blank %}
                    <div class="columns__t">{{ column.title }}</div>
                    {% endif %}
                    {% if column.content != blank %}
                    <div class="columns__descr">
                        {{ column.content }}
                    </div>
                    {% endif %}
                    <!-- <a href="#" class="btn btn--orange btn--round">View case study</a> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Text columns with images"},
{"id": "align","label": "Image alignment","type": "select","default": "top",
        "options": [{"label": "Top","value": "top"},{"label": "Bottom","value": "bottom"}]},
{"id": "size","label": "Image size","type": "select","default": "medium",
        "options": [{"label": "Small","value": "small"},{"label": "Medium","value": "medium"},{"label": "Large","value": "large"}]},
{"id": "columns","label": "Columns","type": "list","addText": "Add column","removeText": "Remove column","displayField": "title",
        "element": [{"id": "title","label": "Title","type": "string"},
                    {"id": "url","label": "Upload picture","type": "image","previewWidth": 120,"previewHeight": 80},
                    {"id": "content","label": "Content","type": "text"},
                    {"id": "width","label": "Flex width","type": "number"}]}

{% endcomment %}
