{% if block.style == 'dark' %}
    {% assign cssStyle = 'section--gray' %}
{% else %}
    {% assign cssStyle = '' %}
{% endif %}
<div class="section {{ cssStyle }} section--bg ">
    <div class="section__inner container">
        {% if block.title != blank %}
        <h2 class="section__t">{{ block.title }}</h2>
        {% endif %}
        {% if block.content != blank %}
        <div class="section__descr">
            {{ block.content }}
        </div>
        {% endif %}
        <div class="columns {{ block.columnsAlignment }}{% if block.nowrap == 'True' %} nowrap{% endif %}">
            {% for column in block.columns %}
            <div class="columns__item {{ block.columnsWidth }}">
                <div class="columns__inner{% if block.frame == 'True' %} has-border{% endif %}">
                    {% if column.image.url != blank %}
                    <img src="{{ column.image.url }}"
                         {% if column.image.width !=blank %} width="{{column.image.width}}" {% endif %}
                         {% if column.image.height !=blank %} height="{{column.image.height}}" {% endif %}
                         alt="" class="columns__pic {{ block.imageAlignment }}">
                    {% endif %}
                    {% if column.title != blank %}
                    <div class="columns__t {{ block.titleAlignment }}">{{ column.title }}</div>
                    {% endif %}
                    {% if column.content != blank %}
                    <div class="columns__descr">
                        {{ column.content }}
                    </div>
                    {% endif %}
                    {% if block.url1 != blank and block.url1.url != blank %}
                    <div class="section__descr">
                        <a href="{{ block.url1.url }}" class="{{ block.url1.style }}">{{ block.url1.urlText }}</a>
                        {% if block.url2 != blank and block.url2.url != blank %}
                        <a href="{{ block.url2.url }}" class="{{ block.url2.style }}">{{ block.url2.urlText }}</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if block.url != blank and block.url.url != blank %}
                    <div class="section__descr">
                        <a href="{{ block.url.url }}" class="{{ block.url.style }}">{{ block.url.urlText }}</a>
                    </div>
                    {% endif %}


                    <!-- <a href="#" class="btn btn--orange btn--round">View case study</a> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Text columns with images"},
{"id": "align","label": "Image alignment","type": "select","default": "top",
        "options": [{"label": "Top","value": "top"},{"label": "Bottom","value": "bottom"}]},
{"id": "size","label": "Image size","type": "select","default": "medium",
        "options": [{"label": "Small","value": "small"},{"label": "Medium","value": "medium"},{"label": "Large","value": "large"}]},
{"id": "columns","label": "Columns","type": "list","addText": "Add column","removeText": "Remove column","displayField": "title",
        "element": [{"id": "title","label": "Title","type": "string"},
                    {"id": "url","label": "Upload picture","type": "image","previewWidth": 120,"previewHeight": 80},
                    {"id": "content","label": "Content","type": "text"},
                    {"id": "width","label": "Flex width","type": "number"}]}

{% endcomment %}
