<section class="section section--study section--bg"
         style="background: url({{block.image.url}}) 50% 25% / cover no-repeat fixed;">
    <div class="section__inner container">
        <div class="row align-items-lg-center">
            {% if block.title != blank %}
            <div class="section__t">{{ block.title }}</div>
            {% endif %}
            {% if block.content != blank %}
            <div class="section__descr">{{ block.content }}</div>
            {% endif %}
            {% if block.url1 != blank and block.url1.url != blank %}
            <div class="section__descr">
                <a href="{{ block.url1.url }}" class="{{ block.url1.style }}">{{ block.url1.urlText }}</a>
                {% if block.url2 != blank and block.url2.url != blank %}
                <a href="{{ block.url2.url }}" class="{{ block.url2.style }}">{{ block.url2.urlText }}</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% comment %}


{% endcomment %}
