{% layout 'apps' %}

<div class="apps container">
    {% include 'breadcrumb' %}
    <div class="apps__detail row">
        <div class="col-md-auto">
            <div class="apps__detail-item">
                <img src="{% if product.featured_image.src %}{{ product.featured_image.src }}{% else %}{{ 'no-image.png' | asset_url }}{% endif %}" alt="">
            </div>
        </div>
        <div class="col-md">
            <div class="apps__detail-info row">
                <div class="apps__detail-general col-lg">
                    <div class="apps__detail-t">{{ product.selected_or_first_available_variant.title }}</div>
                    <!-- a class="apps__detail-link apps__detail-link--review" style="cursor:pointer;" ng-click="showWriteAReviewForm()">{{ 'apps.product.write_a_review' | t }}</a -->
                    {% if product.metafields.properties.Description.size > 0 %}
                        <div class="apps__detail-descr">{{ product.metafields.properties.Description }}</div>
                    {% endif %}
                    <div class="apps__detail-actions">
                        {% if product.metafields.properties.ProjectLink.size > 0%}
                            <a href="{{ product.metafields.properties.ProjectLink }}" class="btn btn--orange" target="_blank">Project</a>
                            {% endif %}
                            {% if product.metafields.properties.DownloadLink.size > 0%}
                            <a href="{{ product.metafields.properties.DownloadLink }}" class="btn btn--orange" target="_blank">Download</a>
                        {% endif %}
                    </div>
                </div>
                <div class="apps__detail-other col-lg-auto">
                    <div class="apps__detail-author">
                        <img src="{{ product.vendor.logo_url }}" alt="">
                        <a class="apps__detail-link" href="{{ '~/' | append: product.vendor.handle | absolute_url }}">{{ product.vendor.name }}</a>
                        <a class="apps__detail-link apps__detail-link--gray" style="cursor:pointer;" ng-click="showContactVendorForm()">{{ 'apps.product.contact_developer' | t }}</a>
                    </div>
                    <div class="apps__detail-socials">
                        <h2>Share</h2>
                        <ul class="nav nav--socials">
                            <li class="nav__item">
                                <a href="http://www.twitter.com/share?url={{ product.url | full_url }}" class="nav__link nav__link--tw" target="_blank"></a>
                            </li>
                            <li class="nav__item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ product.url | full_url }}" class="nav__link nav__link--fb" target="_blank"></a>
                            </li>
                            <li class="nav__item">
                                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ product.url | full_url }}&amp;title={{ product.name }}&amp;source={{ '/' | full_url }}" class="nav__link nav__link--in" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% if product.metafields.properties.Overview.size > 0 %}
    <div class="tabs">
        <input class="tabs__input" type="radio" name="tabs" id="tab-1" checked>
        <label for="tab-1" class="tabs__item">{{ 'apps.product.overview' | t }}</label>

        <div class="tabs__content">
            {{ product.metafields.properties.Overview }}
        </div>
    </div>
    {% endif %}
</div>
