<div class="roadmap __responsive" style="text-align:center; padding-bottom: 40px;">
    <h1 class="head-title">{{ 'customer.reset_password.title' | t }}</h1>
    <p class="text">{{ 'customer.reset_password.subtext' | t: email }}</p>
    <div class="columns">
        <div class="block">
            <div class="column">
                <form accept-charset="UTF-8" action="{{ '~/account/resetpassword' | absolute_url }}" method="post" id="reset_customer_password" name="reset_customer_password">

                    <input type="hidden" value="{{ reset_password.email }}" name="customer[email]">
                    <input type="hidden" value="{{ reset_password.token }}" name="customer[token]">

                    {% include 'form-errors-custom' %}
                    <div class="control-group">
                        <label for="create_password" class="hidden-label text-left">Password (required)</label>
                        <input type="password" value="" class="form-input" name="customer[password]" id="create_password" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error" {% endif %}>
                    </div>
                    <div class="control-group">
                        <label for="confirm_password" class="hidden-label text-left">Confirm password (required)</label>
                        <input type="password" value="" class="form-input" name="customer[password_confirm]" id="confirm_password" placeholder="{{ 'customer.register.password_confirm' | t }}">
                    </div>
                    <p style="margin-right: 20px;">
                        <input style="width: 100%;" type="submit" class="button fill no-transparent" value="{{ 'customer.reset_password.submit' | t }}">
                    </p>
                    {{ antiforgery }}
                </form>
            </div>
        </div>
    </div>
</div>
{{ '//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js' | script_tag }}
{{ '//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js' | script_tag }}
<script type="text/javascript">
    $(function () {
        //custom validation
        $('form#reset_customer_password').validate({
            rules: {
                'customer[password]': {
                    required: true,
                    minlength: 5
                },
                'customer[password_confirm]': {
                    required: true,
                    equalTo: "#create_password"
                }

            },
            errorElement: "span",
            messages: {
                'customer[password]': {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                'customer[password_confirm]': {
                    required: "Please provide a confirm password",
                    equalTo: "Must match the previous entry"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>


<!--<div class="grid">
    <div class="grid-item large--one-third push--large--one-third">

        <h1>{{ 'customer.reset_password.title' | t }}</h1>

        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {% form 'reset_customer_password' %}

        <input type="hidden" value="{{ reset_password.email }}" name="customer[email]">
        <input type="hidden" value="{{ reset_password.token }}" name="customer[token]">

        {% include 'form-errors-custom' %}
        <div class="control-group">
            <label for="reset_password">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="reset_password" {% if form.errors contains "password" %} class="error" {% endif %}>
        </div>
        <div class="control-group">
            <label for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="password_confirmation" {% if form.errors contains "password_confirmation" %} class="error" {% endif %}>
        </div>

        <div class="text-center">
            <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
        </div>

        {% endform %}

    </div>
</div>-->
