<div class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.noTop == true %} section--small-top {% endif %} {% if block.noBottom == true %} section--small-bottom {% endif %} {% if block.noPad == true %} section--no-padding {% endif %}">
    <div class="section__inner container">
        <div class="row align-items-lg-center {% if block.align == 'right' %} flex-row-reverse {% endif %}">
            <div class="section__img col-lg">
                <img src="{{ block.image.url }}"
                     {% if block.image.width != blank %} width="{{block.image.width}}" {% endif %}
                     {% if block.image.height != blank %} height="{{block.image.height}}" {% endif %}
                     alt="{{ item.image.altText }}" class="section__pic">
            </div>
            <div class="col-lg-auto section__info">
                {% include 'blocks/block-title', block %}
                <div class="section__descr">
                    {{ block.content }}
					
					<div>
						<form class="form">
							<input type="text" class="form-control" placeholder="What’s your business mail" />
							<div class="form-helper-holder">
								<a href="#">+ Add a Preffered Name (optional)</a>
							</div>
							<a href="#" class="btn btn--orange">Download</a>
						</form>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
