<div class="block {{block.containerAlignment}} {{block.backgroundColor}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}">
    <div class="block__inner container">
        {% if block.title != '' %}
            {% if block.titleStyle == 'h1' %}
                <h1 class="block__t">{{block.title}}</h1>
            {% elsif  block.titleStyle == 'h2' %}
                <h2 class="block__t">{{block.title}}</h2>
            {% elsif block.titleStyle == 'h3' %}
                <h3 class="block__t">{{block.title}}</h3>
            {% else %}
                <div class="block__t">{{block.title}}</div>
            {% endif %}
        {% endif %}
        <div class="block__space block__space--size-lg"></div>
        <div class="block__cover-pic" {% if block.backgroundImage != '' and block.backgroundImage.url != '' %} style="background-image: url('{{block.backgroundImage.url}}')" {% endif %}">
            <div class="block__note">{{block.subtitle}}</div>
        </div>
    </div>
</div>