{{ 'themes/assets/scripts/angular/casestudy.js' | script_tag }}

<div ng-controller="caseStudyController" class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.noTop == true %} section--small-top {% endif %} {% if block.noBottom == true %} section--small-bottom {% endif %} {% if block.noPad == true %} section--no-padding {% endif %}">
    <div class="section__inner container">
        <div class="section__info">
			<h2 class="section__t">{{ block.title }}</h2>
			<form class="form-horizontal" ng-submit="submit('{{ block.downloadUrl }}')" name="caseStudyForm">
                <div ng-init="setCaseStudyForm(caseStudyForm)"></div>
				<input type="text" id="CaseStudy[Email]" class="form-control" name="CaseStudy[Email]" placeholder="Your email" ng-model="email" required ng-pattern="emailPattern" />
				<input type="text" id="CaseStudy[Name]" class="form-control" name="CaseStudy[Name]" placeholder="John Smith" ng-model="name" required />
				<input type="submit" class="btn btn--orange" value="{{ block.buttonText }}" />
				<div class="form-descr">
					{{ block.description }}
				</div>
			</form>
		</div>
    </div>
</div>

{% comment %}

    {"id": "name","label": "Block name","type": "string"},
    {"id": "size","label": "Choose size","type": "select","default": "medium",
    "options": [{"label": "Small","value": "small"},{"label": "Medium","value": "medium"},
    {"label": "Large","value": "large"},{"label": "Extra Large","value": "xlarge"}]},
    {"id": "url","label": "Upload picture","type": "image","previewWidth": 120,"previewHeight": 80}

{% endcomment %}
