<div class="section section--request section-animated {% if block.noTop == true %} section--small-top {% endif %} {% if block.noBottom == true %} section--small-bottom {% endif %} {% if block.noPad == true %} section--no-padding {% endif %}">
    <div class="section__inner container">
        <div class="section__header">
            <a class="section__logo" href="/"></a>
            <div class="section__links">
                <a href="{{ block.phoneLink }}" class="section__links-item" data-name="phone">+1 800 980—5288</a>
                {% if block.chatLink != blank %}
                <a href="{{ block.chatLink }}" class="section__links-item" data-name="chat">Chat with us</a>
                {% endif %}
            </div>
        </div>
        <div class="section__body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section__animate">
                        <div class="section__animate-item completed">
                            <div class="section__t">{{ block.title }}</div>
                            <div class="section__descr">
                                {{ block.content }}
                            </div>
                        </div>
                        <div class="section__animate-item">
                            <div class="section__descr section__descr--large section__descr--opacity">
                                {{ block.thankYou }}
                            </div>
                            <div class="section__t">What's next</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form">
                        <form id="{{ block.formName }}" data-segment-name="{{ block.formName }}" data-animated-submit>
                            <input type="hidden" name="recaptchaResponse" id="recaptchaResponse" />
                            <input data-segment-name="cf_segmentcampaign" type="text" name="cf_segmentcampaign" value="RequestForm" style="display: none;" />
                            <div class="form-group">
                                <label>Full name</label>
                                <input data-segment-name="fullname" placeholder="Required input field" data-val="true" data-val-required="Please enter your Full name" id="fullname" name="fullname" type="text" class="form-control" />
                                <input data-segment-name="firstName" type="text" style="display: none;" id="firstName" name="firstName" value="" />
                                <input data-segment-name="lastName" type="text" style="display: none;" id="lastName" name="lastName" value="" />
                                <span class="form-error field-validation-valid" data-valmsg-for="fullname" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label>Business email</label>
                                <input data-segment-name="email" placeholder="Required input field" data-val="true" data-val-email="Email address is invalid" data-val-required="Please enter your email" id="email" name="email" type="text" class="form-control" />
                                <span class="form-error field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input data-segment-name="phone" type="text" id="phone" name="phone" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>How would you describe yourself?</label>
                                <select data-segment-name="message" id="message" class="form-control" name="message">
                                    <option value="I’m looking for an e-commerce platform">I’m looking for an e-commerce platform</option>
                                    <option value="I'm creating a solution for a client">I'm creating a solution for a client</option>
                                    <option value="I'm interested in trying Virto Commerce">I'm interested in trying Virto Commerce</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Access Transfer Method</label>
                                <ul class="list list--method">
                                    <li class="list__item">
                                        <input class="list__input" type="radio" data-thanks-class="touch-thanks" name="access" checked="checked" id="access1" value="Get in touch with me" />
                                        <label class="list__inner" for="access1">
                                            <span class="list__t">Get in touch with me</span>
                                            <span class="list__descr">
                                                Someone will contact you to give a demo, shortly after the submission
                                            </span>
                                        </label>
                                    </li>
                                    <li class="list__item">
                                        <input class="list__input" type="radio" data-thanks-class="link-thanks" name="access" id="access2" value="Get only link access" />
                                        <label class="list__inner" for="access2">
                                            <span class="list__t">Get only link access</span>
                                            <span class="list__descr">
                                                You will receive a link to access the Virto Commerce demo environment right away on your email
                                            </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <div class="form-descr">
                                    <input data-val="true" data-val-mandatory="Please agree with our terms" onchange="this.value = this.checked" type="checkbox" id="agree" name="agree" value="false" class="form-checkbox__input"/>
                                    <label class="form-checkbox__label" for="agree">
                                        By clicking «Request Demo» I agree to the Virto Commerce <a href="/terms">Terms</a> and <a href="/privacy">Privacy</a>.
                                    </label>
                                </div>
                                <span class="form-error--highlight field-validation-valid" data-valmsg-for="agree" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn--orange btn--block">Request demo</button>
                            </div>
                        </form>
                        <div class="thanks-wrapper touch-thanks" style="display: none;">
                            <div class="thanks">
                                <div class="thanks__ico"></div>
                                <div class="thanks__t">
                                    Thank you!
                                </div>
                                <div class="thanks__descr">
                                    {{ block.touchThanks }}
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn--orange btn--block send-again">Send again</button>
                            </div>
                        </div>
                        <div class="thanks-wrapper link-thanks" style="display: none;">
                            <div class="thanks">
                                <div class="thanks__ico"></div>
                                <div class="thanks__t">
                                    Thank you!
                                </div>
                                <div class="thanks__descr">
                                    {{ block.linkThanks }}
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn--orange btn--block send-again">Send again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thank-you">
                <div class="list">
                    {% for item in block.thankYouItems %}
                    <div class="list__item">
                        <div class="list__inner">
                            <img src="{{ item.icon.url }}" />
                            <div class="list__descr">
                                {{ item.text }}
                            </div>
                            <a href="{{ item.url }}">
                                <svg class="arrow" width="100px" height="70px" viewBox="0 0 100 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="feedback" transform="translate(-100.000000, -776.000000)" class="fill"><path d="M200,811.022375 C200,811.019375 199.998996,811.015375 199.998996,811.011375 C200.002009,809.728389 199.51292,808.444402 198.529722,807.464413 L168.401073,777.464734 C166.439698,775.511755 163.260121,775.511755 161.298746,777.464734 C159.338375,779.417713 159.338375,782.583679 161.298746,784.535659 L182.877889,806.022428 L105.021442,806.022428 C102.248602,806.022428 100,808.260404 100,811.022375 C100,813.784345 102.248602,816.022321 105.021442,816.022321 L182.832696,816.022321 L161.298746,837.464091 C159.338375,839.417071 159.338375,842.583037 161.298746,844.535016 C162.279935,845.511005 163.56442,846 164.849909,846 C166.135398,846 167.419883,845.511005 168.401073,844.535016 L198.39816,814.666336 C199.158406,813.958343 199.700722,813.026353 199.904593,811.967365 C199.938738,811.793366 199.942756,811.614368 199.95782,811.43637 C199.969871,811.297372 200,811.164373 200,811.022375" id="Fill-1"></path></g></g></svg>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mobile-block">
                <div class="mobile-block__t">Or</div>
                <a href="{{ block.phoneLink }}" class="mobile-block__item" data-name="phone">+1 800 980—5288</a>
                {% if block.chatLink != blank %}
                <a href="{{ block.chatLink }}" class="mobile-block__item" data-name="chat">Chat with us</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if block.showCustomers %}
<div class="section section--small-top">
    <div class="section__inner container">
        <h2 class="section__t">Business Leaders Choose Virto Commerce</h2>
        <p class="section__descr--centered">
            View just a handful of the top companies that use <br />Virto Commerce to power their ecommerce
        </p>
        <ul class="nav nav--customers">
            <li class="nav__item">
                <a href="/case-studies/bosch" class="nav__link">
                    <span class="nav__brand nav__brand--bosch"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--heineken"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--vivint"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--volvo"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies/lavazza" class="nav__link">
                    <span class="nav__brand nav__brand--lavazza"></span>
                </a>
            </li>
        </ul>
        <a href="/case-studies" class="btn btn--lg">View Our Customer Showcase</a>
    </div>
</div>
{% endif %}
