<div class="section section--form {% if block.image.url != blank %} dark {% endif %} {{block.color}}" {% if block.image.url != blank %} style="background-image: url({{ block.image.url }});" {% endif %}>
  <div class="section__inner container">
    <div class="section__header">
      {% if block.logo != blank %}
      <img src="{{block.logo.url}}" />
      {% endif %}
    </div>
    <div class="section__casestudy-header row">
      <div class="col-lg-6">
        <div class="section__t">{{ block.title }}</div>
        <div class="section__descr">
          {{ block.description }}
        </div>
        <div class="arrow"></div>
      </div>
      <div class="col-lg-5">
        <form class="form" id="{{ block.formId }}">
          {% for item in block.formFields %}
          {% if item.fieldType == 'hidden' %}
          <input id="{{ item.fieldId }}" type="text" style="display: none;" name="{{ item.fieldName }}" value="{{ item.data }}" />
          {% endif %}
          {% endfor %}

          {% for item in block.formFields %}
          {% if item.type != 'hidden' %}
          <div class="form-group">
            {% if item.fieldType == 'text' %}
            <label {% if item.fieldId != blank %} for="{{ item.fieldId }}" {% endif %}>{{ item.labelText }}</label>
            <input {% if item.fieldId != blank %} id="{{ item.fieldId }}" {% endif %} name="{{ item.fieldName }}" placeholder="{{item.placeholder}}" type="text" class="form-control" {% if item.required %}required{% endif %} />
            {% elsif item.fieldType == 'email' %}
            <label {% if item.fieldId != blank %} for="{{ item.fieldId }}" {% endif %}>{{ item.labelText }}</label>
            <input  {% if item.fieldId != blank %} id="{{ item.fieldId }}" {% endif %} name="{{ item.fieldName }}" placeholder="{{item.placeholder}}" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" {% if item.required %}required{% endif %} class="form-control" />
            {% elsif item.fieldType == 'checkbox' %}
            <div class="form-checkbox">
              <input type="checkbox" class="form-checkbox__input" {% if item.fieldId != blank %} id="{{ item.fieldId }}" {% endif %} />
              <label class="form-checkbox__label" {% if item.fieldId != blank %} for="{{ item.fieldId }}" {% endif %}>
                {{ item.labelText }}
              </label>
            </div>
            {% if item.agreeTermsMessage %}
            <span style="display:none;margin-top: 1rem" style="display:none" class="form-error--highlight field-validation-error" data-valmsg-for="agree" data-valmsg-replace="true"><span id="agree-error" class="">Please agree with our terms</span></span>
            {% endif %}
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
          <div class="form-group">
            <button type="submit" class="btn btn--orange btn--block">{{ block.submitButtonText }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>