<div id="{{ block.__id }}" class="section {% if block.style == 'dark' %} section--gray {% endif %}
     {% if block.noTop == 'True' %} section--small-top {% endif %}
     {% if block.noBottom == 'True' %} section--small-bottom {% endif %}
     {% if block.noPad == 'True' %} section--no-padding {% endif %}">
    <div class="section__inner container">
        {% include 'blocks/block-title' block: block %}
        {% if block.content != '' %}
        <div class="section__descr">
            {{ block.content }}
        </div>
        {% endif %}
        <div class="list list--columns list--centered row">
            {% for column in block.columns %}
            <div class="list__item col-md-6 col-lg-4">
                <div class="{% if block.frame == 'True' %}has-border{% endif %}">
                    {% if column.image.url != '' %}
                    <img src="{{ column.image.url }}"
                         {% if column.image.width != '' %} width="{{column.image.width}}" {% endif %}
                         {% if column.image.height != '' %} height="{{column.image.height}}" {% endif %}
                         alt="{{ item.image.altText }}" class="columns__pic {{ block.imageAlignment }}">
                    {% endif %}
                    {% if column.title != '' %}
                    <div class="list__t {{ block.titleAlignment }}">{{ column.title }}</div>
                    {% endif %}
                    {% if column.content != '' %}
                    {{ column.content }}
                    {% endif %}
                    {% if block.url != '' and block.url.urlText != '' %}
                    <a href="{{ block.url.url }}" class="{{ block.url.style }}">{{ block.url.urlText }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Text columns with images"},
{"id": "align","label": "Image alignment","type": "select","default": "top",
        "options": [{"label": "Top","value": "top"},{"label": "Bottom","value": "bottom"}]},
{"id": "size","label": "Image size","type": "select","default": "medium",
        "options": [{"label": "Small","value": "small"},{"label": "Medium","value": "medium"},{"label": "Large","value": "large"}]},
{"id": "columns","label": "Columns","type": "list","addText": "Add column","removeText": "Remove column","displayField": "title",
        "element": [{"id": "title","label": "Title","type": "string"},
                    {"id": "url","label": "Upload picture","type": "image","previewWidth": 120,"previewHeight": 80},
                    {"id": "content","label": "Content","type": "text"},
                    {"id": "width","label": "Flex width","type": "number"}]}

{% endcomment %}
