<div id="{{ block.__id }}" class="section {% if block.style == 'dark' %} section--gray {% endif %}
     {% if block.noTop == 'True' %} section--small-top {% endif %}
     {% if block.noBottom == 'True' %} section--small-bottom {% endif %}
     {% if block.noPad == 'True' %} section--no-padding {% endif %}">
  <div class="section__casestudy container">
    <img class="casestudy-img" src="{{block.image.url}}" />
    <div class="section__descr">
      <div class="description">
        {{block.description}}
      </div>
      <div class="info">
        {% if block.occupation != '' %}
        	<span class="occupation">{{block.occupation}}</span>&nbsp; &nbsp; &nbsp;
        {% endif %}
        {% if block.country != '' %}
        	<span>{{block.country}}</span>&nbsp; &nbsp; &nbsp;
        {% endif %}
        {% if block.footerImage != '' and block.footerImage.url != '' %}
        	<img class="mini-img" src="{{block.footerImage.url}}" />
        {% endif %}
        {% if block.content != '' %}
        	{{block.content}}
        {% endif %}
        {% if block.sourceLink != '' %}
        	<a href="{{block.sourceLink.url}}" target="_''">{{block.sourceLink.urlText}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
