<div class="block {{block.containerAlignment}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}">
    <div class="block__inner container">
        {% if block.title != '' %}
            <div class="block__text {{block.textAreaWidth}}">
                {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}
            </div>
            <div class="block__space block__space--size-lg"></div>
        {% endif %}

        {% include 'overlay-color-hex-style-with-counter' predefinedColor: block.imageOverlayColor, customColor: block.imageOverlayColorHex %}

        <a href="{{block.videoUrl}}" class="block__cover-pic block__media block-video" id="block-{{block.id}}" title="{{block.image.altText}}" data-fancybox=""
            {% if block.image != '' and block.image.url != '' %} style="background-image: url('{{block.image.url}}')" {% endif %}>
            <div class="block-video__action"></div>
        </a>
    </div>
</div>