<div class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.noTop == true %} section--small-top {% endif %} {% if block.noBottom == true %} section--small-bottom {% endif %} {% if block.noPad == true %} section--no-padding {% endif %}">
    <div class="section__inner container">
        {% include 'blocks/block-title', title: block.title, headerStyle: block.headerStyle %}
        {% if block.content != blank %}
        <div class="section__descr">
            {{ block.content }}
        </div>
        {% endif %}
        <div class="list list--columns list--centered row">
            {% for column in block.columns %}
            <div class="list__item col-md-6 col-lg-4">
                <div class="{% if block.frame == 'True' %}has-border{% endif %}">
                    {% if column.image.url != blank %}
                    <img src="{{ column.image.url }}"
                         {% if column.image.width != blank %} width="{{column.image.width}}" {% endif %}
                         {% if column.image.height != blank %} height="{{column.image.height}}" {% endif %}
                         alt="" class="columns__pic {{ block.imageAlignment }}">
                    {% endif %}
                    {% if column.title != blank %}
                    <div class="list__t {{ block.titleAlignment }}">{{ column.title }}</div>
                    {% endif %}
                    {% if column.content != blank %}
                    {{ column.content }}
                    {% endif %}
                    {% if block.url != blank and block.url.urlText != blank %}
                    <a href="{{ block.url.url }}" class="{{ block.url.style }}">{{ block.url.urlText }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Text columns with images"},
{"id": "align","label": "Image alignment","type": "select","default": "top",
        "options": [{"label": "Top","value": "top"},{"label": "Bottom","value": "bottom"}]},
{"id": "size","label": "Image size","type": "select","default": "medium",
        "options": [{"label": "Small","value": "small"},{"label": "Medium","value": "medium"},{"label": "Large","value": "large"}]},
{"id": "columns","label": "Columns","type": "list","addText": "Add column","removeText": "Remove column","displayField": "title",
        "element": [{"id": "title","label": "Title","type": "string"},
                    {"id": "url","label": "Upload picture","type": "image","previewWidth": 120,"previewHeight": 80},
                    {"id": "content","label": "Content","type": "text"},
                    {"id": "width","label": "Flex width","type": "number"}]}

{% endcomment %}
