<div class="section section--request">
    <div class="section__inner container">
        <div class="section__header">
            <div class="section__logo"></div>
            <div class="section__links">
                <a href="{{ block.phoneLink }}" class="section__links-item" data-name="phone">+1 800 980—5288</a>
                <a href="{{ block.chatLink }}" class="section__links-item" data-name="chat">Chat with us</a>
            </div>
        </div>
        <div class="section__body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section__t">{{ block.title }}</div>
                    <div class="section__descr">
                        {{ block.content }}
                    </div>
                    <div class="arrow"></div>
                </div>
                <div class="col-lg-6">
                    <div class="form">
                        <form id="{{ block.formName }}" data-segment-name="{{ block.formName }}">
                            <div class="form-group">
                                <label>Full name</label>
                                <input placeholder="Required input field" data-val="true" data-val-required id="fullname" name="fullname" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Business email</label>
                                <input placeholder="Required input field" data-val="true" data-val-email data-val-required id="email" name="email" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" id="phone" name="phone" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>How would you describe yourself?</label>
                                <select data-segment-name="message" id="message" class="form-control" name="message">
                                    <option value="I am a business or technical user who needs/has an ecommerce platform">I am a business or technical user who needs/has an ecommerce platform</option>
                                    <option value=" I am a developer interested in trying Virto Commerce "> I am a developer interested in trying Virto Commerce </option>
                                    <option value=" I am creating a solution for a client"> I am creating a solution for a client</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Access Transfer Method</label>
                                <ul class="list list--method">
                                    <li class="list__item">
                                        <input class="list__input" type="radio" name="access" checked="checked" id="access1" />
                                        <label class="list__inner" for="access1">
                                            <span class="list__t">Get in touch with me</span>
                                            <span class="list__descr">
                                                Someone will contact you to give a demo, shortly after the submission
                                            </span>
                                        </label>
                                    </li>
                                    <li class="list__item">
                                        <input class="list__input" type="radio" name="access" id="access2" />
                                        <label class="list__inner" for="access2">
                                            <span class="list__t">Get only link access</span>
                                            <span class="list__descr">
                                                You will receive a link to access the Virto Commerce demo environment right away on your email
                                            </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn--orange btn--block">Request demo</button>
                            </div>
                            <div class="form-group">
                                <div class="form-descr">
                                    <p>
                                        By clicking «Request Demo» I agree to the Virto Commerce <a href="/terms">Terms</a> and <a href="/privacy">Privacy</a>.
                                    </p>
                                </div>
                            </div>
                        </form>
                        <div class="thanks-wrapper" style="display: none;">
                            <div class="thanks">
                                <div class="thanks__ico"></div>
                                <div class="thanks__t">
                                    Thank you!<br />We will be in <br />touch soon.
                                </div>
                                <div class="thanks__descr">
                                    In the meanwhile, we would like to know a little more about yourself in order to be able.
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn--orange btn--block send-again">Send again</button>
                            </div>
                            <div class="form-group">
                                <div class="form-descr">
                                    <p>
                                        By clicking «Request Demo» I agree to the Virto Commerce <a href="/terms">Terms</a> and <a href="/privacy">Privacy</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-block">
                <div class="mobile-block__t">Or</div>
                <a href="{{ block.phoneLink }}" class="mobile-block__item" data-name="phone">+1 800 980—5288</a>
                <a href="{{ block.chatLink }}" class="mobile-block__item" data-name="chat">Chat with us</a>
            </div>
        </div>
    </div>
</div>
