<div class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.noTop == true %} section--small-top {% endif %} {% if block.noBottom == true %} section--small-bottom {% endif %} {% if block.noPad == true %} section--no-padding {% endif %}">
  <div class="section__casestudy container">
    <img src="{{block.image.url}}" />
    <div class="section__descr">
      <div class="description">
        {{block.description}}
      </div>
      <div class="info">
        <span class="occupation">{{block.occupation}}</span>&nbsp; &nbsp; &nbsp;
        <span>{{block.country}}</span>&nbsp; &nbsp; &nbsp;
        <a href="{{block.sourceLink}}" target="_blank">{{block.sourceLink}}</a>
      </div>
    </div>
  </div>
</div>