<div class="block {{block.backgroundColor}} {{block.topPadding}} {{block.bottomPadding}}
     {% if block.topDivider == 'True' %} block--divider-top {% endif %}
     {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}">
    <div class="block__inner container">
        {% if block.title != '' %}
            <div class="block__t">{{block.title}}</div>
            <div class="block__space block__space--size-lg"></div>
        {% endif %}

        {% if block.subtitle != '' %}
            <div class="block__descr">{{block.subtitle}}</div>
        {% endif %}

        {% if block.items.size > 0 %}
            <div class="list list-items list-items--cols-1 {% if block.iconsType == 'letters' %} list-items--type-letters {% endif %}">
                {% for item in block.items %}
                    <div class="list__item">
                        {% if block.iconsType == 'numbers' or block.iconsType == 'letters' %}
                            <div class="list__num list__num-{{block.iconsFilling}} {% if block.iconsAreFilled == 'True' %} list__num--filled-{{block.iconsFilling}}{% endif %}"></div>
                        {% endif %}
                        {% if block.iconsType == 'images' %}
                            {% if item.image.url != '' %}
                                <img src="{{item.image.url}}" alt="" class="list__ico" />
                            {% endif %}
                        {% endif %}
                        {% if item.title != '' %}
                            <div class="list__t">{{item.title}}</div>
                        {% endif %}
                        {% if item.subtitle != '' %}
                            <div class="list__descr">{{item.subtitle}}</div>
                        {% endif %}
                        {% if item.button != '' and item.button.urlText != '' %}
                            <div class="block__space"></div>
                            <div class="block__actions">
                                <a href="{{item.button.url}}" class="{{item.button.style}}" {% if item.buttonIsNewWindow == 'True' %} target="_blank" {% endif %}>{{item.button.urlText}}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>