<div id="{{ block.__id }}" class="block {{block.containerAlignment}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}">
    <div class="block__inner container">
        <div class="row justify-content-center">
            {% if block.title != '' %}
                <div class="block__text {{block.textAreaWidth}}">
                    {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}
                </div>
            {% endif %}
        </div>

        <div class="block__space block__space--size-lg"></div>
        {% include 'overlay-color-hex-style-with-counter' predefinedColor: block.imageOverlayColor, customColor: block.imageOverlayColorHex %}
        <div id="block-{{block.id}}" class="block__cover-pic lazyload"
            {% if block.backgroundImage != '' and block.backgroundImage.url != '' %} style="background-image: url('{{block.image.url}}')" {% endif %}>
            {% if block.subtitle != '' %}
                <div class="block__note">{{block.subtitle}}</div>
            {% endif %}
        </div>
    </div>
</div>
