<div id="{{ block.__id }}" class="section {{block.backgroundColor}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}">
    <div class="block__inner container">
        <div class="row">
            <div class="block__text {{block.textAreaWidth}}">
                {% if block.title != '' %}
                    {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}
                {% endif %}

                {% if block.subtitle != '' %}
                    <div class="block__space"></div>
                    <div class="block__descr">{{block.subtitle}}</div>
                    <div class="block__space block__space--size-lg"></div>
                {% else %}
                    <div class="block__space block__space--size-lg"></div>
                {% endif %}
            </div>
        </div>
        <div class="review">
            <div class="review__img">
                {% if block.picture != '' and block.picture.url != '' %}
                    <img src="{{block.picture.url}}" title="{{block.picture.altText}}" />
                {% endif %}
            </div>
            <div class="review__info">
                {% if block.text != '' %}
                    {{block.text}}
                {% endif %}
                <div class="review__links">
                    <div class="review__links-item">{{block.nameOrCompany}}</div>
                    <div class="review__links-item field">{{block.jobTitleOrField}}</div>
                    <a href="{{block.siteUrl.url}}" class="review__links-item">{{block.siteUrl.urlText}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
