<div ng-controller="replatformController" class="section {% if block.style == 'dark' %} section--gray {% endif %}
     {% if block.noTop == 'True' %} section--small-top {% endif %}
     {% if block.noBottom == 'True' %} section--small-bottom {% endif %}
     {% if block.noPad == 'True' %} section--no-padding {% endif %}">
    <div class="section__inner container">
        <div class="row align-items-lg-center flex-row-reverse">
            <div class="section__img col-lg" style="text-align: {{ block.align }};">
                <img src="{{ block.image.url }}"
                     {% if block.image.width != blank %} width="{{block.image.width}}" {% endif %}
                     {% if block.image.height != blank %} height="{{block.image.height}}" {% endif %}
                     style="max-width: 100%;"
                     alt="{{ item.image.altText }}" class="section__pic">
            </div>
            <div class="col-lg-auto section__info">
                {% include 'blocks/block-title' block: block %}
                <div class="row">
					<form name="replatformForm" ng-submit="submit()" class="form col-sm-6">
						<div class="section__descr section__descr--tiny" ng-init="setReplatformForm(replatformForm)">{{ block.content }}</div>
                        <div class="form-group">
						    <input id="email" type="text" name="email" ng-model="email" class="form-control" placeholder="What’s your business mail" required ng-pattern="emailPattern" />
                        </div>
                        <div class="form-group" id="username-wrapper" style="display: none;">
						    <input id="username" type="text" name="username" ng-model="username" class="form-control" placeholder="Enter your preffered name" />
                        </div>
						<div class="form-helper-holder">
							<a data-target-show="username-wrapper" href="#">+ Add your name (optional)</a>
						</div>
						<button class="btn btn--orange btn--block">Download</button>
					</form>
				</div>
            </div>
        </div>
    </div>
</div>
