<div class="section section--request">
    <div class="section__inner container">
        <div class="section__header">
            <a class="section__logo" href="/"></a>
            <div class="section__links">
                <a href="{{ block.phoneLink }}" class="section__links-item" data-name="phone">+1 800 980—5288</a>
                {% if block.chatLink != blank %}
                <a href="{{ block.chatLink }}" class="section__links-item" data-name="chat">Chat with us</a>
                {% endif %}
            </div>
        </div>
        <div class="section__body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section__t">{{ block.title }}</div>
                    <div class="section__descr">
                        {{ block.content }}
                    </div>
                    <div class="arrow"></div>
                </div>
                <div class="col-lg-6">
                    <div class="form">
                        <form id="{{ block.formName }}" data-segment-name="{{ block.formName }}">
                            <input type="hidden" name="recaptchaResponse" id="recaptchaResponse" />
                            <input data-segment-name="cf_segmentcampaign" type="text" name="cf_segmentcampaign" value="RequestForm" style="display: none;" />
                            <div class="form-group">
                                <label>Full name</label>
                                <input data-segment-name="fullname" placeholder="Required input field" data-val="true" data-val-required id="fullname" name="fullname" type="text" class="form-control" />
                                <input data-segment-name="firstName" type="text" style="display: none;" id="firstName" name="firstName" value="" />
                                <input data-segment-name="lastName" type="text" style="display: none;" id="lastName" name="lastName" value="" />
                            </div>
                            <div class="form-group">
                                <label>Business email</label>
                                <input data-segment-name="email" placeholder="Required input field" data-val="true" data-val-email data-val-required id="email" name="email" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input data-segment-name="phone" type="text" id="phone" name="phone" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>How would you describe yourself?</label>
                                <select data-segment-name="message" id="message" class="form-control" name="message">
                                    <option value="I’m looking for an e-commerce platform">I’m looking for an e-commerce platform</option>
                                    <option value="I'm creating a solution for a client">I'm creating a solution for a client</option>
                                    <option value="I'm interested in trying Virto Commerce">I'm interested in trying Virto Commerce</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Access Transfer Method</label>
                                <ul class="list list--method">
                                    <li class="list__item">
                                        <input class="list__input" type="radio" data-thanks-class="touch-thanks" name="access" checked="checked" id="access1" value="Get in touch with me" />
                                        <label class="list__inner" for="access1">
                                            <span class="list__t">Get in touch with me</span>
                                            <span class="list__descr">
                                                Someone will contact you to give a demo, shortly after the submission
                                            </span>
                                        </label>
                                    </li>
                                    <li class="list__item">
                                        <input class="list__input" type="radio" data-thanks-class="link-thanks" name="access" id="access2" value="Get only link access" />
                                        <label class="list__inner" for="access2">
                                            <span class="list__t">Get only link access</span>
                                            <span class="list__descr">
                                                You will receive a link to access the Virto Commerce demo environment right away on your email
                                            </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <div class="form-descr">
                                    <label style="font-weight: normal;font-size: .875rem;line-height: 1.4;margin-bottom: 0;">
                                        <input type="checkbox" id="agree" name="agree" value="on" data-val="true" data-val-required />
                                        By clicking «Request Demo» I agree to the Virto Commerce <a href="/terms">Terms</a> and <a href="/privacy">Privacy</a>.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn--orange btn--block">Request demo</button>
                            </div>
                        </form>
                        <div class="thanks-wrapper touch-thanks" style="display: none;">
                            <div class="thanks">
                                <div class="thanks__ico"></div>
                                <div class="thanks__t">
                                    Thank you!
                                </div>
                                <div class="thanks__descr">
                                    {{ block.touchThanks }}
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn--orange btn--block send-again">Send again</button>
                            </div>
                            <div class="form-group">
                                <div class="form-descr">
                                    <p>
                                        By clicking «Request Demo» I agree to the Virto Commerce <a href="/terms">Terms</a> and <a href="/privacy">Privacy</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="thanks-wrapper link-thanks" style="display: none;">
                            <div class="thanks">
                                <div class="thanks__ico"></div>
                                <div class="thanks__t">
                                    Thank you!
                                </div>
                                <div class="thanks__descr">
                                    {{ block.linkThanks }}
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn--orange btn--block send-again">Send again</button>
                            </div>
                            <div class="form-group">
                                <div class="form-descr">
                                    <p>
                                        By clicking «Request Demo» I agree to the Virto Commerce <a href="/terms">Terms</a> and <a href="/privacy">Privacy</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-block">
                <div class="mobile-block__t">Or</div>
                <a href="{{ block.phoneLink }}" class="mobile-block__item" data-name="phone">+1 800 980—5288</a>
                {% if block.chatLink != blank %}
                <a href="{{ block.chatLink }}" class="mobile-block__item" data-name="chat">Chat with us</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if block.showCustomers %}
<div class="section section--small-top">
    <div class="section__inner container">
        <h2 class="section__t">Business Leaders Choose Virto Commerce</h2>
        <p class="section__descr--centered">
            View just a handful of the top companies that use <br />Virto Commerce to power their ecommerce
        </p>
        <ul class="nav nav--customers">
            <li class="nav__item">
                <a href="/case-studies/bosch" class="nav__link">
                    <span class="nav__brand nav__brand--bosch"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--heineken"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--vivint"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--volvo"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies/lavazza" class="nav__link">
                    <span class="nav__brand nav__brand--lavazza"></span>
                </a>
            </li>
        </ul>
        <a href="/case-studies" class="btn btn--lg">View Our Customer Showcase</a>
    </div>
</div>
{% endif %}
