<div class="block block--info {{block.topPadding}} {{block.bottomPadding}} {{block.horizontalAlignment}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %} {{block.backgroundColor}}" {% else %}" style="background-color:{{block.backgroundColorHex}}" {% endif %}>
    <div class="block__inner container">
        <div class="block__descr">{{block.title}}</div>
    </div>
</div>