<div id="{{ block.__id }}" class="section block {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}">
    <div class="block__inner container">
        <div class="row">
            <div class="block__text {{block.textAreaWidth}}">
                {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}

                {% if block.subtitle != '' %}
                    <div class="block__space"></div>
                    <div class="block__descr">{{block.subtitle}}</div>
                    <div class="block__space block__space--size-lg"></div>
                {% else %}
                <div class="block__space block__space--size-lg"></div>
                {% endif %}
            </div>
        </div>

        {% if block.items.size > 0 %}
            <div class="list list-cards list-cards--cols-{{block.columnsCount}}">
                {% for item in block.items %}
                    <div class="list__item">
                        <div class="list__inner">
                            {% if item.image != '' and item.image.url != '' %}
                                <div class="list__img">
                                    <img src="{{item.image.url}}" title="{{item.image.altText}}" class="list__pic" />
                                </div>
                            {% endif %}
                            {% if item.title != '' %}
                                <div class="list__t">{{item.title}}</div>
                            {% endif %}
                            {% if item.subtitle != '' %}
                                <div class="list__descr">{{item.subtitle}}</div>
                            {% endif %}
                            {% if item.button != '' and item.button.urlText != '' %}
                                <a href="{{item.button.url}}" class="{{item.button.style}}" {% if item.button.openInNewTab == 'True' %} target="_blank" {% endif %}>{{item.button.urlText}}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
