{% if block.style == 'dark' %}
    {% assign cssStyle = 'section--gray' %}
{% else %}
    {% assign cssStyle = '' %}
{% endif %}
<section id="{{ block.__id }}" class="section {{ cssStyle }} section--bg">
    <div class="section__inner container">
        {% if block.title != '' %}
        <h2 class="section__t">{{ block.title }}</h2>
        {% endif %}
        <div class="carousel slide carousel-block" data-ride="carousel">
            <div class="carousel__container carousel-inner">
                {% for image in block.images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="d-block w-100 h-100 lazyload" src="{{ image.image.url }}" alt="{{ item.image.altText }}" />
                </div>
                {% endfor %}
            </div>
            <ol class="carousel-indicators">
                {% for image in block.images %}
                <li data-target="#carousel" data-slide-to="{{ forloop.index }}" class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <a class="carousel__control carousel__control--prev" href="#carousel" role="button" data-slide="prev"></a>
            <a class="carousel__control carousel__control--next" href="#carousel" role="button" data-slide="next"></a>
        </div>
    </div>
</div>
