{% assign alignment = 'block--align-center' %}
{% if block.horizontalAlignment == 'left' %}
    {% assign alignment = 'block--align-left' %}
{% endif %}
{% if block.horizontalAlignment == 'right' %}
    {% assign alignment = 'block--align-right' %}
{% endif %}

{% include 'overlay-color-hex-style-with-counter' predefinedColor: block.backgroundOverlayColor, customColor: block.backgroundOverlayColorHex %}

<div class="block {{alignment}} {{block.topPadding}} {{block.bottomPadding}} {% include 'cover-background-settings' %}>
    <div class="block__inner container">
        {{block.backgroundOverlayColorHex}}
        <div class="block__text">
            {% if block.note != '' %}
                <div class="block__note">{{block.note}}</div>
            {% endif %}
            <div class="block__space"></div>
            {% if block.titleStyle == 'h1' %}
                <h1 class="block__t">{{block.title}}</h1>
            {% elsif  block.titleStyle == 'h2' %}
                <h2 class="block__t">{{block.title}}</h2>
            {% elsif block.titleStyle == 'h3' %}
                <h3 class="block__t">{{block.title}}</h3>
            {% else %}
                <div class="block__t">{{block.title}}</div>
            {% endif %}
            <div class="block__space"></div>
            <h3 class="block__descr">{{block.subtitle}}</h3>
            {% if block.firstButton != '' and block.firstButton.urlText != '' %}
                <div class="block__space"></div>
                <div class="block__actions">
                    <a href="{{block.firstButton.url}}" class="{{block.firstButton.style}}" {% if block.firstButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.firstButton.urlText}}</a>
                    {% if block.secondButton != '' and block.secondButton.urlText != '' %}
                        <a href="{{block.secondButton.url}}" class="{{block.secondButton.style}}" {% if block.secondButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.secondButton.urlText}}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>