<div class="section {{ block.decorator }} {% if block.style == 'dark' %} section--gray {% endif %}
     {% if block.noTop != null and block.noTop %} section--small-top {% endif %}
     {% if block.noBottom != null and block.noBottom %} section--small-bottom {% endif %}
     {% if block.noPad != null and block.noPad %} section--no-padding {% endif %}">
    <div class="section__inner container">
        {% include 'blocks/block-title' block: block %}

        {% if block.content != '' %}
        <div class="section__descr">
            {{ block.content }}
        </div>
        {% endif %}
        {% if block.url != '' and block.url.urlText != '' %}
        <a href="{{ block.url.url }}" class="{{ block.url.style }}">{{ block.url.urlText }}</a>
        {% endif %}
    </div>
</div>
