<div class="block {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %} {% include 'cover-background-settings' %}">
    <div class="block__inner container">
        <div class="block__text">
            {% if block.title != '' %}
                <h2 class="block__t">{{block.title}}</h2>
                <div class="block__space"></div>
            {% endif %}

            {% if block.text != '' %}
                <div class="block__descr">{{block.text}}</h3>
                <div class="block__space"></div>
            {% endif %}
        </div>
        <div class="author">
            <div class="author__t">{{block.author}}</div>
        </div>
    </div>
</div>