{% if block.style == 'dark' %}
    {% assign cssStyle = 'section--gray' %}
{% else %}
    {% assign cssStyle = '' %}
{% endif %}
<div class="section {{ cssStyle }} section--bg ">
    <div class="section__inner container">
        <div class="row">
            <form class="col-lg-auto form">
                <div class="section__info">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="form-label">Full name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="form-label">Phone</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Company</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="form-label">Job Title</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Website</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md">
                            <label class="form-label">Region</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Comments</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
                        <div class="form-descr">By clicking «Send Message» I agree to the Virto Commerce <a href="#">Terms</a> and <a href="#">Privacy</a>.</div>
                    </div>
                    <button class="btn btn--orange">Send Message</button>
                </div>
                {% include 'user-location-form-inputs' %}
            </form>
            <div class="col-lg">
                <div class="features section__info">
                    <h2 class="section__t">{{ block.title }}</h2>
                    <div class="row">
                        {% for item in block.items %}
                        <div class="features__item col">
                            <div class="features__img">
                                <img src="{{ item.image.url }}" alt="{{ item.image.altText }}" class="features__icon">
                            </div>
                            <div class="features__descr">{{ item.text }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %}


{% endcomment %}
