<div class="block {{block.containerAlignment}} {{block.backgroundColor}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}"
    {% if block.backgroundImage != '' and block.backgroundImage.url != '' %} style="background-image: url('{{block.backgroundImage.url}}')" {% endif %}>
    <div class="block__inner container">
        {% if block.title != '' %}
            {% if block.titleStyle == 'h1' %}
                <h1 class="block__t">{{block.title}}</h1>
            {% elsif  block.titleStyle == 'h2' %}
                <h2 class="block__t">{{block.title}}</h2>
            {% elsif block.titleStyle == 'h3' %}
                <h3 class="block__t">{{block.title}}</h3>
            {% else %}
                <div class="block__t">{{block.title}}</div>
            {% endif %}
        {% endif %}

        {% if block.subtitle != '' %}
            <div class="block__space"></div>
            <div class="block__descr">{{block.subtitle}}</div>
            <div class="block__space block__space--size-lg"></div>
        {% else %}
            <div class="block__space block__space--size-lg"></div>
        {% endif %}

        {% if block.columnsCount == 4 %}
            <div class="row">
                <div class="col-lg-12">
                    {% assign firstImage = block.images[0].image %}
                    {% if firstImage != '' and firstImage.url != '' %}
                        <img class="block__pic" src="{{firstImage.url}}" title="{{firstImage.alt}}">
                    {% endif %}
                </div>
            </div>
            <div class="block__space"></div>
            {% assign isNeedToSkipFirstImage = true %}
        {% endif %}

        <div class="row">
            {% for item in block.images %}
                {% if isNeedToSkipFirstImage %}
                    {% assign isNeedToSkipFirstImage = false %}
                    {% continue %}
                {% else %}
                    {% if item.image != '' and item.image.url != '' %}
                        <div class="col-lg-4">
                            <img class="block__pic" src="{{item.image.url}}" alt="">
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>