<div id="{{ block.__id }}" class="block {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}">
    <div class="block__inner container">
        {% if block.title != '' %}
            <div class="row">
                <div class="block__text {{block.textAreaWidth}}">
                    {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}
                    {% if block.subtitle != '' and block.subtitlePosition == 'upper' %}
                        <div class="block__space"></div>
                        <div class="block__descr">{{block.subtitle}}</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        
        <div class="block__space block__space--size-lg"></div>
        {% if block.columns.size > 0 %}
            <div class="list list-items list-items--cols-{{block.columnsCount}} {% if block.iconsType == 'letters' %} list-items--type-letters {% endif %} w-100">
                {% for column in block.columns %}
                    <div class="list__item">
                        <div class="list__inner">
                            {% if block.iconsType == 'numbers' or block.iconsType == 'letters' %}
                                <div class="list__num list__num-{{block.iconsFilling}} {% if block.iconsAreFilled == 'True' %} list__num--filled-{{block.iconsFilling}} {% endif %}"></div>
                            {% endif %}
                            {% if block.iconsType == 'customIcon' %}
                                {% if column.image.url != '' %}
                                    <div class="list__image" title="{{column.image.altText}}" style="background-image: url({{column.image.url}})"></div>
                                {% endif %}
                            {% endif %}
                            {% if block.iconsType == 'images' %}
                                {% if column.image.url != '' %}
                                    <img src="{{column.image.url}}" title="{{column.image.altText}}" class="list__ico" />
                                {% endif %}
                            {% endif %}
                            {% if column.title != '' %}
                                <div class="list__t">{{column.title}}</div>
                            {% endif %}
                            {% if column.subtitle != '' %}
                                <div class="list__descr">{{column.subtitle}}</div>
                            {% endif %}
                            {% if column.button != '' and column.button.urlText != '' %}
                                <div class="block__space"></div>
                                <div class="block__actions">
                                    <a href="{{column.button.url}}" class="{{column.button.style}}" {% if column.buttonIsNewWindow == 'True' %} target="_blank" {% endif %}>{{column.button.urlText}}</a>
                                </div>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if block.subtitle != '' and block.subtitlePosition == 'lower' %}
            <div class="block__text {{block.textAreaWidth}}">
                <div class="block__space"></div>
                <div class="block__descr">{{block.subtitle}}</div>
            </div>
        {% endif %}
    </div>
</div>
