{% include 'overlay-color-hex-style-with-counter' predefinedColor: block.backgroundOverlayColor, customColor: block.backgroundOverlayColorHex %}

<div class="block block--author {% include 'cover-background-settings' %}>
    <div class="block__inner container">
        <div class="row">
            {% if block.title != '' %}
                <div class="{{block.textAreaWidth}}">
                     {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}
                </div>
            {% endif %}
        </div>
        <div class="row mt-5 w-100">
            {% if block.horizontalAlignment == 'left' %}
                <div class="col-lg-6">
                    <div class="block__photo block__photo--pattern-{{block.pattern}}" style="background-image: url('{{block.containerImage.url}}')"></div>
                </div>
            {% endif %}

            <div class="col-lg-6 {{block.verticalAlignment}}">
                {% if block.subtitle != '' %}
                    <div class="block__descr">{{block.subtitle}}</div>
                {% endif %}
                {% if block.firstButton != '' and block.firstButton.urlText != '' %}
                    <div class="block__space block__space--size-lg"></div>
                    <a href="{{block.firstButton.url}}" class="{{block.firstButton.style}} btn--lg" {% if block.firstButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.firstButton.urlText}}</a>
                    {% if block.secondButton != '' and block.secondButton.urlText != '' %}
                        <a href="{{block.secondButton.url}}" class="{{block.secondButton.style}} btn--lg" {% if block.secondButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.secondButton.urlText}}</a>
                    {% endif %}
                {% endif %}
                <div class="author-info">
                    <div class="block__descr">{{block.note}}</div>
                </div>
            </div>

            {% if block.horizontalAlignment == 'right' %}
                <div class="col-lg-6">
                    <div class="block__photo block__photo--pattern-{{block.pattern}}" style="background-image: url('{{block.containerImage.url}}')"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>