<div class="block {{block.backgroundColor}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}">
    <div class="block__inner container">
        {% if block.titleStyle == 'h1' %}
            <h1 class="block__t">{{block.title}}</h1>
        {% elsif block.titleStyle == 'h2' %}
            <h2 class="block__t">{{block.title}}</h2>
        {% elsif block.titleStyle == 'h3' %}
            <h3 class="block__t">{{block.title}}</h3>
        {% else %}
            <div class="block__t">{{block.title}}</div>
        {% endif %}

        {% if block.subtitle != '' %}
            <div class="block__space"></div>
            <div class="block__descr">{{block.subtitle}}</div>
            <div class="block__space block__space--size-lg"></div>
        {% else %}
            <div class="block__space block__space--size-lg"></div>
        {% endif %}

        {% if block.items.size > 0 %}
            <div class="list list-items {% if block.columnsCount == '2' %} list-items--cols-2 {% endif %}">
                {% for item in block.items %}
                    <div class="list__item">
                        {% if item.image != '' and item.image.url != '' %}
                            <div class="list__img">
                                <img src="{{item.image.url}}" title="{{item.image.alt}}" class="list__pic">
                            </div>
                        {% endif %}
                        <div class="list__t">{{item.title}}</div>
                        <div class="list__descr">{{item.subtitle}}</div>
                        {% if item.labels.size > 0 %}
                            <div class="list__tags">
                                {% for label in item.labels %}
                                    <div class="list__tags-item">{{label.name}}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="author">
                            <div class="author__t">{{item.authorName}}</div>
                            <div class="author__date">{{item.date}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>