{% assign alignment = 'block--align-center' %}
{% if block.horizontalAlignment == 'left' %}
    {% assign alignment = 'block--align-left' %}
{% endif %}
{% if block.horizontalAlignment == 'right' %}
    {% assign alignment = 'block--align-right' %}
{% endif %}

{% include 'overlay-color-hex-style-with-counter' predefinedColor: block.backgroundOverlayColor, customColor: block.backgroundOverlayColorHex %}

<div id="{{ block.__id }}" class="block {{alignment}} {% include 'cover-background-settings' %}>
    <div class="block__inner container">
        <div class="row justify-content-center">
            <div class="block__text {{block.textAreaWidth}}">
                {% if block.note != '' %}
                    <div class="block__note">{{block.note}}</div>
                {% endif %}
                <div class="block__space"></div>

                {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}

                <div class="block__space"></div>
                <div class="block__descr">{{block.subtitle}}</div>
                {% if block.firstButton != '' and block.firstButton.urlText != '' %}
                    <div class="block__space"></div>
                    <div class="block__actions">
                        <a href="{{block.firstButton.url}}" class="{{block.firstButton.style}}" {% if block.firstButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.firstButton.urlText}}</a>
                        {% if block.secondButton != '' and block.secondButton.urlText != '' %}
                            <a href="{{block.secondButton.url}}" class="{{block.secondButton.style}}" {% if block.secondButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.secondButton.urlText}}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
