<div id="{{ block.__id }}" class="block {{block.containerAlignment}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}">
    <div class="block__inner container">
        <div class="row justify-content-center">
            <div class="block__text {{block.textAreaWidth}}">
                {% if block.title != '' %}
                    {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}
                {% endif %}

                {% if block.subtitle != '' %}
                    <div class="block__space"></div>
                    <div class="block__descr">{{block.subtitle}}</div>
                    <div class="block__space block__space--size-lg"></div>
                {% else %}
                    <div class="block__space block__space--size-lg"></div>
                {% endif %}
            </div>
        </div>

        {% if block.images.size > 0 %}
            <div class="list list-images list-cards list-cards--cols-{{block.columnsCount}}">
                {% for item in block.images %}
                    <div class="list__item">
                        {% if item.url != '' %}
                            <a href="{{item.url}}" {% if item.openInNewTab == 'True' %}target="_blank"{% endif %}>
                                <div class="list__img lazyload" style="background-image: url('{{item.image.url}}')"></div>
                            </a>
                        {% else %}
                            <div class="list__img lazyload" style="background-image: url('{{item.image.url}}')"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
