<div id="{{ block.__id }}" class="section block block--padding-half {% if block.topDivider == 'True' %} block--divider-top {% endif %} {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %} {{block.backgroundColor}}" {% else %}" style="background-color:{{block.backgroundColorHex}}" {% endif %}>
    <div class="block__inner container">
        <div class="block__learn {% if block.titleAlignment == 'center' %} block__learn--center {% endif %} {{block.titleColor}}">
            {% include 'seo-text' tag: block.titleSeoTag, text: block.title %}
            {% if block.button != '' and block.button.urlText != '' %}
                <a href="{{block.button.url}}" class="{{block.button.style}}" {% if block.button.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.button.urlText}}</a>
            {% endif %}
        </div>
    </div>
</div>
