<div class="section {% if block.style == 'dark' %} section--gray {% endif %} {% if block.noTop == true %} section--small-top {% endif %} {% if block.noBottom == true %} section--small-bottom {% endif %} {% if block.noPad == true %} section--no-padding {% endif %}">
    <div class="section__inner container">
        {% if block.title != blank %}
            {% if block.h1 == 'True' %}
            <h1 class="section__t {{ block.titleStyle }} {{ block.titleAlignment }}">{{ block.title }}</h1>
            {% else %}
            <h2 class="section__t {{ block.titleStyle }} {{ block.titleAlignment }}">{{ block.title }}</h2>
            {% endif %}
        {% endif %}
        {% if block.intro != blank %}
        <div class="section__descr">
            {{ block.intro }}
        </div>
        {% endif %}
        <div class="list list--columns row">
            {% for item in block.items %}
            <div class="list__item {{ block.colStyle }}">
                {% if item.image and item.image.url %}
                <img src="{{ item.image.url }}" alt="" class="list__icon {{ item.iconStyle }}">
                {% endif %}
                {% if item.title != blank %}
                <div class="list__t">{{ item.title }}</div>
                {% endif %}
                {% if item.text != blank %}
                <div class="list__descr">
                    {{ item.text }}
                    {% if item.url != blank and item.url.urlText != blank %}
                    <a href="{{ item.url.url }}" class="{{ item.url.style }}">{{ item.url.urlText }}</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %}


{% endcomment %}
