{%- include 'prepare_layout' -%}
<!DOCTYPE html>
<html ng-app="storefrontApp">
<head>
    {% include 'google-tag-manager-head' %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <link type="image/x-icon" rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" />

    {% assign blog.title = 'Virto Commerce Blog' %}

    {% if blog_search.category %}
        {% assign search_category = "blogs.categories." | append: blog_search.category | t %}
        <link rel="canonical" href="{{ '/blog' | full_url }}" />
        <meta name="robots" content="noindex">
    {% elseif blog_search.tag %}
        {% assign search_tag = "blogs.tags." | append: blog_search.tag | t %}
        <link rel="canonical" href="{{ '/blog' | full_url }}" />
        <meta name="robots" content="noindex">
    {% endif %}

    {% if article %}
    {% assign page_url = article.url | full_url %}
    {% assign title = article.title | append: ' - ' | append: blog.title %}
    {% assign description = article.excerpt %}
    {% else %}
    {% assign page_url = blog.url | full_url %}
    {% assign title = blog.title %}
    {% assign description = blog.title %}
    {% if search_category %}
    {% assign title = search_category | append: ' - ' | append: blog.title %}
    {% assign description = 'Posts about ' | append: search_category | append: ' - ' | append: blog.title %}
    {% endif %}
    {% if search_tag %}
    {% assign title = search_tag | append: ' - ' | append: blog.title %}
    {% assign description = 'Posts about ' | append: search_tag | append: ' - ' | append: blog.title %}
    {% endif %}
    {% endif %}

    <meta name="description" content="{{ description }}" />

    <!-- Facebook  Open Graph Meta Tags BEGIN -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="{% if article %}article{% else %}website{% endif %}" />

    {% assign full_base_url = '/' | full_url %}
    {% if page_image_url %}
    {% assign page_image_full_url = full_base_url | append: page_image_url %}
    {% else %}
    {% assign page_image_full_url = full_base_url | append: 'themes/assets/logox2.jpg' %}
    {% endif %}

    <meta content="{{ blog.title }}" property="og:site_name" />

    {% if article %}
    {% for tag in article.tags %}
    <meta content="{{ tag }}" property="article:tag" />
    {% endfor %}
    <meta content="{{ article.category }}" property="article:section" />
    <meta content="{{ article.created_at }}" property="article:published_time" />
    <meta content="{{ article.created_at }}" property="article:modified_time" />
    <meta content="{{ article.created_at }}" property="og:updated_time" />
    {% endif %}

    <meta name="twitter:card" content="summary" />
    <meta content="{{ description }}" name="twitter:description" />
    <meta content="{{ title }}" name="twitter:title" />
    {% comment %}
    <meta content="{{ page_image_url | absolute_url }}" name="twitter:image" />{% endcomment %}
    <!-- Facebook Open Graph Meta Tags END: -->

    <title>{{blog.title}}</title>

    <link rel="canonical" href="https://virtocommerce.com/blog" />

    {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js' | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js' | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js' | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.7/angular-sanitize.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.12.1/angular-translate.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.12.1/angular-translate-loader-url/angular-translate-loader-url.min.js' | script_tag }}
    {{ 'jquery-3.5.0.min.js' | asset_url | script_tag }}
    {{ '//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js' | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    {{ 'services.js' | asset_url | script_tag }}
    {{ 'blog.js?v=' | append blog_js_version | asset_url | script_tag }}
    {{ 'feedback.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
    <script src="{{ 'lazysizes.min.js' | asset_url }}" async=""></script>

    {{ '//fonts.googleapis.com/css?family=Roboto:400,100,300,700' | stylesheet_tag }}
    {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' | stylesheet_tag }}
    {{ 'style.min.css?v=' | append css_version | asset_url | stylesheet_tag }}

    {% include 'segment' %}
    {{ content_for_header }}

    <base href="{{ '/' | absolute_url }}" />

    {% include 'markup-corporation' %}
    {% include 'markup-website' %}
    {% include 'markup-webpage' %}
    <!-- html5.js for IE less than 9 -->
    <!--[if lt IE 9]>
        <script src="/js/ie.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- css3-mediaqueries.js for IE less than 9 -->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script>
        var BASE_URL = '{{ "/" | full_url }}';
    </script>
    {% include 'markup-opengraph' %}
</head>
<body>
    {% include 'google-tag-manager-body' %}
    {% include 'getting-started' %}
    {% include 'form-thank-you' %}
    {% assign menu = linklists['main-menu'] %}
    <div id="layout">
        <div class="layout-canvas">
            <div class="swipe">
                {% include 'main-menu-mobile' %}
            </div>
            <article class="main" role="main">
                {{ content_for_layout }}
            </article>
            {% include 'footer' %}
        </div>
    </div>
    {{ 'js/main.js?v=' | append main_js_version | asset_url | script_tag }}
    {{ 'js/ipdata.js?v=1.01' | asset_url | script_tag }}
    {{ 'segment-form-handler.js' | asset_url | script_tag }}
</body>
</html>
