{%- include 'prepare_layout' -%}
<!DOCTYPE html>
<html ng-app="storefrontApp">
<head>
    {% include 'google-tag-manager-head' %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Virto Commerce" />
    {% if page_description != '' %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% else %}
    <meta name="description" content="Virto Commerce - enterprise .NET Microsoft E-commerce Platform for B2B & B2C solutions" />
    {% endif %}
    {% include 'meta-noindex' %}
    <meta name="keywords" content="Virto Commerce, Enterprise e-Commerce, ASP.NET eCommerce, Azure eCommerce, Cloud eCommerce, MVC eCommerce, .net shopping cart" />
    <meta itemprop="name" content="Virto Commerce" />
    <meta itemprop="description" content="Multi Channel Ecommerce Platform | Enterprise Shopping Cart Software | VirtoCommerce" />
    <meta itemprop="image" content="{{ 'virtocommerce.png' | asset_url }}" />
    <meta name="google-site-verification" content="U2sXV9qIWUb-RceW8MpL-EfFnwvOqCo_jLWIDL8c6xI" />
    <link type="image/x-icon" rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" />
    {% if page_title != '' %}
    <title>{{ page_title }}</title>
    {% else %}
    <title>ASP.NET ecommerce platform - Virto Commerce</title>
    {% endif %}
    {{ 'style.min.css?v=' | append css_version | asset_url | stylesheet_tag }}
    {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
    <base href="{{ '/' | absolute_url }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <script>
        var BASE_URL = '{{ "/" | full_url }}';
    </script>
    {% include 'autopilot' %}
    {% include 'markup-corporation' %}
    {% include 'markup-website' %}
    {% include 'markup-webpage' %}
    {% include 'markup-opengraph' %}
</head>
<body>
    {% include 'google-tag-manager-body' %}
    <div id="layout">
        <div class="layout-canvas">
            <div class="swipe">
                {% include 'main-menu-mobile' %}
            </div>
            {% include 'getting-started' %}
            <article class="main" role="main">
                {{ content_for_layout }}
            </article>
            {% include 'footer' %}
        </div>
    </div>
    {{ 'jquery-3.5.0.min.js' | asset_url | script_tag }}
    {{ 'jquery.fancybox.min.js' | asset_url | script_tag }}
    {{ 'js/app.js' | asset_url | script_tag }}
    {{ 'js/main.js?v=' | append main_js_version | asset_url | script_tag }}
</body>
</html>
