<!DOCTYPE html>
<html ng-app="storefrontApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Virto Commerce" />
    {% if page_description != '' %}
    <meta name="description" content="{{ page_description | escape }}" />
    <meta property="og:description" content="{{ page_description | escape }}" />
    {% else %}
    <meta name="description" content="Virto Commerce - enterprise .NET Microsoft E-commerce Platform for B2B & B2C solutions" />
    {% endif %}
    <meta name="keywords" content="Virto Commerce, Enterprise e-Commerce, ASP.NET eCommerce, Azure eCommerce, Cloud eCommerce, MVC eCommerce, .net shopping cart" />
    <meta itemprop="name" content="Virto Commerce" />
    <meta itemprop="description" content="Multi Channel Ecommerce Platform | Enterprise Shopping Cart Software | VirtoCommerce" />
    <meta itemprop="image" content="{{ 'virtocommerce.png' | asset_url }}" />
    <meta property="og:url" content="{{ request_url }}" />
    <meta property="og:image" content="{{ 'virtocommerce.png' | asset_url }}" />
    <meta name="google-site-verification" content="U2sXV9qIWUb-RceW8MpL-EfFnwvOqCo_jLWIDL8c6xI" />
    <link type="image/x-icon" rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" />
    {% if page_title != '' %}
    <title>{{ page_title }}</title>
    <meta property="og:title" content="{{ page_title }}" />
    {% else %}
    <title>Enterprise ASP.NET open-source Microsoft e-commerce platform - Virto Commerce</title>
    {% endif %}
    {{ '//fonts.googleapis.com/css?family=Lato' | stylesheet_tag }}
    {{ '//fonts.googleapis.com/css?family=Roboto:400,100,300,700' | stylesheet_tag }}
    {{ '//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700' | stylesheet_tag }}
    {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css' | stylesheet_tag }}
    {{ 'main-styles.min.css' | asset_url | stylesheet_tag }}
    {% include 'segment' %}
    {{ content_for_header }}
    <base href="{{ '/' | absolute_url }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <script>
        var BASE_URL = '{{ "/" | full_url }}';
    </script>
    {% include 'autopilot' %}
</head>
<body>
    <div id="layout">
        <div class="layout-canvas">
            <article class="main" role="main">
                {{ content_for_layout }}
            </article>
            <footer style="height: 5rem; background: #eee;"></footer>
        </div>
    </div>
    <script type="text/javascript">
        var ShareIt = {
            facebook: function (url) {
                window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(url), '_blank');
            },
            google: function (url) {
                window.open('https://plus.google.com/share?url=' + encodeURIComponent(url), '_blank');
            },
            twitter: function (url) {
                window.open('https://twitter.com/home?status=' + encodeURIComponent(url), '_blank');
            },
            linkedIn: function (url) {
                window.open('https://www.linkedin.com/cws/share?url=' + encodeURIComponent(url), '_blank');
            }
        }
    </script>
    <script src="//apis.google.com/js/platform.js" async defer></script>
    {{ '//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js' | script_tag }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    {{ '//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js' | script_tag }}
    {{ '//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' | script_tag }}

    {{ 'app.js' | asset_url | script_tag }}
    {{ 'services.js' | asset_url | script_tag }}
    {{ 'main-layout.min.js' | asset_url | script_tag }}
    {{ 'segment-form-handler.js' | asset_url | script_tag }}
</body>
</html>
