 <!DOCTYPE html>
<html ng-app="storefrontApp">
<head>
    {% include 'google-tag-manager-head' %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Virto Commerce" />
    {% if page_description != '' %}
        <meta name="description" content="{{ page_description | escape }}" />
        <meta property="og:description" content="{{ page_description | escape }}" />
    {% else %}
        <meta name="description" content="Virto Commerce - enterprise .NET Microsoft Ecommerce Platform for B2B & B2C solutions" />
    {% endif %}
    <meta name="keywords" content="Virto Commerce, Enterprise e-Commerce, ASP.NET eCommerce, Azure eCommerce, Cloud eCommerce, MVC eCommerce, .net shopping cart" />
    <meta itemprop="name" content="Virto Commerce" />
    <meta itemprop="description" content="Multi Channel Ecommerce Platform | Enterprise Shopping Cart Software | VirtoCommerce" />
    <meta itemprop="image" content="{{ 'virtocommerce.png' | asset_url }}" />
    <meta property="og:url" content="{{ canonical_url }}" />
    <meta property="og:image" content="{{ 'virtocommerce.png' | asset_url }}" />
    <meta name="google-site-verification" content="U2sXV9qIWUb-RceW8MpL-EfFnwvOqCo_jLWIDL8c6xI" />
    <link type="image/x-icon" rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" />
    {% if page_title != '' %}
        <title>{{ page_title }}</title>
        <meta property="og:title" content="{{ page_title }}" />
    {% else %}
        <title>Virto Commerce - Enterprise ASP.NET open-source Microsoft e-commerce platform</title>
    {% endif %}
	{{ '//fonts.googleapis.com/css?family=Lato' | stylesheet_tag }}
	{{ '//fonts.googleapis.com/css?family=Roboto:400,100,300,700' | stylesheet_tag }}
	{{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' | stylesheet_tag }}
	{{ 'style.min.css?v=1.03' | asset_url | stylesheet_tag }}
    {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i) }) }}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
                }({
                    instrumentationKey: "{{ application_settings.ApplicationInsightsInstrumentationKey }}"
                });
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script> 
    {% include 'segment' %}
    {{ content_for_header }}
    <base href="{{ '/' | absolute_url }}" />
    {% include 'autopilot' %}
</head>
<body ng-controller="mainController">
    {% include 'google-tag-manager-body' %}
    {% if can_track %}
    {% include 'gdpr-cookie-compliance' %}
    {% endif %}
    <div class="google-like">
        <div class="g-plusone" data-href="https://virtocommerce.com" data-size="tall"></div>
    </div>
    {% include 'apps-identifier' %}
    {% include 'form-become-a-developer' %}
    {% include 'form-write-a-review' %}
    {% include 'form-contact-vendor' %}
    {% include 'form-support-vendor' %}
    {% include 'form-thank-you' %}
    {% include 'getting-started' %}
    {% assign menu = linklists['main-menu'] %}
    {% if isAppsStore %}
    {% assign menu = linklists['apps-menu'] %}
    {% endif %}
    <div id="layout">
        <div class="layout-canvas">
            <div class="swipe">
                <!-- TODO: Fix main-menu for mobile -->
                {% include 'main-menu-mobile' %}
            </div>

            <article class="main" role="main">
                <div class="glossary container">
                    {% include 'glossary-left-menu' %}
                    <div class="glossary__content">
                        {{ content_for_layout }}
                        {% include 'disqus' %}
                    </div>
                </div>
            </article>
            {% include 'footer' %}
        </div>
    </div>
    <script type="text/javascript">
        var ShareIt = {
            facebook: function (url) {
                window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(url), '_blank');
            },
            google: function (url) {
                window.open('https://plus.google.com/share?url=' + encodeURIComponent(url), '_blank');
            },
            twitter: function (url) {
                window.open('https://twitter.com/home?status=' + encodeURIComponent(url), '_blank');
            },
            linkedIn: function (url) {
                window.open('https://www.linkedin.com/cws/share?url=' + encodeURIComponent(url), '_blank');
            }
        }
    </script>
    <script>
            var BASE_URL = '{{ "/" | full_url }}';
    </script>
    {{ 'jquery-3.5.0.min.js' | asset_url | script_tag }}
    {{ 'jquery.fancybox.min.js' | asset_url | script_tag }}
    <script>
        $(function () {
            $('#cookieConsentAccept').on('click', function (event) {
                event.preventDefault();
                document.cookie = '{{consent_cookie }}';
                $('.cookie-bar').hide();
            });
        });
    </script>
    {{ 'js/main.js?v=1.01' | asset_url | script_tag }}
    {{ 'js/ipdata.js?v=1.01' | asset_url | script_tag }}
    {{ 'segment-form-handler.js' | asset_url | script_tag }}
</body>
</html>
