<div class="list__item">
    <a class="list__bg" href="{{ article.url | absolute_url }}" style="background-image: url({% if article.image_url != '' %}{{ article.image_url }}{% else %}blue-abstract-background.jpg{% endif %});"></a>
    <div class="list__category" data-name="{{ article.category }}">{{ article.category }}</div>
    <div class="list__info">
        <div class="list__t">
            <a href="{{ article.url | absolute_url }}">{{ article.title }}</a>
        </div>
        <div class="list__descr">
            {{ article.excerpt }}
        </div>
        {% if article.tags.size > 0 %}
        <div class="list list--tags">
            {% for tag in article.tags limit:3 %}
            {% assign tag_url = '/blog/tag/' | append: tag  %}
            <a class="list__item" ng-click="setCurrentTag('{{tag}}', '{{ 'blogs.tags.' | append: tag | t }}');">{{ "blogs.tags." | append: tag | t }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div class="list__author">
            <div class="list__author-logo"></div>
            <div class="list__author-text">
            {% if article.author %}
                <div class="list__author-name">{{ article.author }}</div>
            {% else %}
                <div class="list__author-name">VirtoCommerce</div>
            {% endif %}
                <div class="list__author-date">{{ article.created_date | date: "MMM %d, yyyy" }}</div>
            </div>
        </div>
    </div>
</div>