<div class="list__item">
    <a class="list__bg lazyload" href="{{ article.url | absolute_url }}" style="background-image: url({% if article.image_url != '' %}{{ article.image_url }}{% else %}blue-abstract-background.jpg{% endif %});"></a>
    <div class="list__info">
        <div class="list__t">
            <a href="{{ article.url | absolute_url }}">{{ article.title }}</a>
        </div>
        <div class="list__descr">
            <a class="list__descr" href="{{article.url}}">{{article.excerpt}}</a>
            <div class="block__space"></div>
            <div>{{ article.created_date | date: "%d MMMM yyyy" }}</div>
        </div>
        <div class="list list--tags">
            <a class="list__item" ng-click="setCurrentCategory('{{article.category}}');" data-name="{{article.category}}">{{'blogs.categories.' | append: article.category | t}}</a>
        </div>
        <div class="list__author">
            <div class="list__author-logo"></div>
            <div class="list__author-text">
                <div class="list__author-name">{{ article.author }}</div>
            </div>
        </div>
    </div>
</div>