<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__general row">
            <div class="col-lg-4">
                <div class="footer__logo">
                    Virtocommerce
                </div>
                <div class="footer__text">Virto Commerce is a .NET B2B and B2C ecommerce platform ideal for enterprise and complex ecommerce solutions.</div>
                <div class="footer__signup">
                    <div class="label footer__text">Sign up for Virto Commerce news and updates</div>
                    <form class="form form--search" action="/thank-you-newsletters">
                        <input type="text" name="Index[Email]" class="form-control form-control--round" placeholder="you@mail.com" />
                        {% include 'user-location-form-inputs' %}
                        <button type="submit" class="btn btn--orange btn--round">Sign&nbsp;Up</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7 ml-lg-auto">
                <div class="row">
                    <div class="footer__nav col-md-auto">
                        <div class="footer__t">Platform</div>
                        <ul class="nav nav--vertical">
                            {%- for link in linklists['footer-platform'].links -%}
                            {%- if link.url contains "http" -%}
                            <li class="nav__item">
                                <a rel="nofollow" href="{{ link.url }}" target="_blank" class="nav__link">{{ link.title }}</a>
                            </li>
                            {%- else -%}
                            <li class="nav__item">
                                <a href="{{ link.url }}" class="nav__link">{{ link.title }}</a>
                            </li>
                            {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                    <div class="footer__nav col-md-auto ml-md-auto">
                        <div class="footer__t">Developers</div>
                        <ul class="nav nav--vertical">
                            {%- for link in linklists['footer-developers'].links -%}
                            {%- if link.url contains "http" -%}
                            <li class="nav__item">
                                <a rel="nofollow" href="{{ link.url }}" target="_blank" class="nav__link">{{ link.title }}</a>
                            </li>
                            {%- else -%}
                            <li class="nav__item">
                                <a href="{{ link.url }}" class="nav__link">{{ link.title }}</a>
                            </li>
                            {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                    <div class="footer__nav col-md-auto ml-md-auto">
                        <div class="footer__t"><a href="/contact-us" class="nav__link">Contact us</a></div>
                        <ul class="nav nav--vertical">
                            <li class="nav__item">
                                <a href="mailto:sales@virtocommerce.com" class="nav__link">sales@virtocommerce.com</a>
                            </li>
                            <li class="nav__item">
                                <a href="tel:+18009805288" class="nav__link">+1 800 980-5288</a>
                            </li>
                            <li class="nav__item">
                                <a href="tel:+13235705588" class="nav__link">+1 323 570-5588</a>
                            </li>
                            {% comment %}
                            <li class="nav__item">
                                <a href="#" class="nav__link">Live chat</a>
                            </li>
                            {% endcomment %}
                        </ul>
                        <div class="partner">
                            <a rel="nofollow" href="https://pinpoint.microsoft.com/en-us/companies/4298254222" rel="nofollow" target="_blank">Microsoft Gold certificated Partner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__other row align-items-center">
            <div class="footer__other-text col-md-auto">
                <div class="footer__copy">Copyright &copy; 2020. All rights reserved.</div>
                <a href="/privacy" class="footer__link">Privacy Policy</a>
            </div>
            <div class="col-md-auto ml-md-auto">
                <ul class="nav nav--socials">
                    <li class="nav__item">
                        <a rel="nofollow" href="https://twitter.com/virtocommerce?lang=en" class="nav__link nav__link--tw">Twitter</a>
                    </li>
                    <li class="nav__item">
                        <a rel="nofollow" href="https://www.facebook.com/virtocommerce" class="nav__link nav__link--fb">Facebook</a>
                    </li>
                    <li class="nav__item">
                        <a rel="nofollow" href="https://www.linkedin.com/company/virto-commerce" class="nav__link nav__link--in">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
