<div class="list__item">
    <a class="list__inner" href="{{ product.url | absolute_url }}">
        <div class="list__watermark">
            <svg xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <filter id="blur">
                        <feGaussianBlur stdDeviation="50"></feGaussianBlur>
                    </filter>
                </defs>
                <image width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ product.featured_image.src }}" filter="url(/apps#blur)"></image>
            </svg>
        </div>
        <div class="list__bg">
            <img onerror="this.onerror=null;this.src='{{ 'no-image.png' | asset_url }}';" src="{{ product.featured_image.src }}" alt="" class="list__pic" />
        </div>
        <h3 class="list__t">{{ product.title }}</h3>
        {% if product.metafields.properties.Description %}
        <div class="list__vendor">By {{ product.vendor.name }}</div>
        <div class="list__descr">
            {{ product.metafields.properties.Description }}
        </div>
        {% endif %}
        <div class="list__price">{% include 'product-pricing' %}</div>
    </a>
</div>
