{% assign url_parts = page.url | split: '/' %}
{% if url_parts contains 'docs' or search.search_in == '/docs' %}
    <form class="search" action="{{ '/content/search' | absolute_url }}" method="post">
        <input name="SearchIn" id="SearchIn" type="hidden" value="/docs">
        <input name="Layout" id="Layout" type="hidden" value="docs">
        <input name="Keyword" id="Keyword" type="search" placeholder="Search docs" required="required" value="{{ search.terms }}">
    </form>
    {% assign docs_pages = pages | where: 'url', 'contains', 'docs' | sort: 'url' %}
    {% assign docs_tree = docs_pages | tree: 'url', 'title', '/', 'priority' %}
    {% include 'docs-menu', docs_tree: docs_tree %}
{% else %}
    <div class="swipe__header">
        <div class="swipe__nav">
            <div class="swipe__nav-item swipe__nav-item--show">
                <a class="swipe__nav-link" href="#">Login</a>
            </div>
            <div class="swipe__nav-item">
                <div class="swipe__back"></div>
            </div>
        </div>
        <div class="swipe__close ml-auto"></div>
    </div>
    <!--<div class="swipe__body">
        <div class="nav">
            <ul class="flex-column">
                {% for link in menu.links %}
                    {% assign child_list_handle = link.title | handleize %}
                    <li class="nav__item">
                        <a class="nav__link">{{ link.title | escape }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% for link in menu.links %}
                <div class="nav_content">
                    <ul class="nav flex-column">
                        {% assign child_list_handle = link.title | handleize %}
                        <li class="nav__item">
                            <div class="nav__t">{{ link.title | escape }}</div>
                        </li>
                        {% if linklists[child_list_handle].links.size > 0 %}
                            {% for child_link in linklists[child_list_handle].links %}
                                <li class="nav__item">
                                    {% if child_link.url contains '/#' %}
                                        <span>{{ child_link.title  }}</span>
                                    {% else %}
                                        <a class="nav__link" href="{{ child_link.url }}">{{ child_link.title | escape }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>-->
    <div class="swipe__body">
        <div class="nav">
            <ul class="flex-column">
                <li class="nav__item">
                    <a class="nav__link">
                        Why Virto
                        <span class="nav__carret ml-auto"></span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link">
                        Solutions
                        <span class="nav__carret ml-auto"></span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link">
                        Partners
                        <span class="nav__carret ml-auto"></span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link">
                        Resources
                        <span class="nav__carret ml-auto"></span>
                    </a>
                </li>
            </ul>
            <div class="nav__content">
                <ul class="nav flex-column">
                    <li class="nav__item">
                        <div class="nav__t">Digital Commerce Platform</div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Architecture Overview</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/why-virto/delivery-strategy">Delivery Strategy</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Delivery case studies</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Services</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Roadmap</a>
                    </li>
                    <li class="nav__item">
                        <div class="nav__t">Business Need</div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Catalog Management</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Product Management</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Marketing &amp; Promotions</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/business-need/pricing-tools">Pricing Tools</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Order Management</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">CMS</a>
                    </li>
                </ul>
            </div>
            <div class="nav__content">
                <ul class="nav flex-column">
                    <li class="nav__item">
                        <div class="nav__t">Business Size</div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Enterprise</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Mid-Market</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Small Business - Community Edition</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="solutions/startups">Startups</a>
                    </li>
                    <li class="nav__item">
                        <div class="nav__t">By Use Case</div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/solutions/b2b">B2B Solutions</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="solutions/b2x">B2X (B2C, B2B2C, B2G)</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Marketplaces</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/implementation/multi-touch">Multi-touch User Experience</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Digital Transformation</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">White Label Solutions</a>
                    </li>
                </ul>
            </div>
            <div class="nav__content">
                <ul class="nav flex-column">
                    <li class="nav__item">
                        <a class="nav__link" href="/partners/being-a-partner">Being a Partner</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/partners/looking-for-a-partnership">Looking for a partnership?</a>
                    </li>
                </ul>
            </div>
            <div class="nav__content">
                <ul class="nav flex-column">
                    <li class="nav__item">
                        <div class="nav__t">Education</div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">White Papers</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">B2B Ecommerce Platform</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Learn about B2B ecommerce</a>
                    </li>
                    <li class="nav__item">
                        <div class="nav__t">Tools</div>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">List of Solution Partners</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Appstore</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="/404">Stackoverflow Group</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="swipe__footer">
        <a href="#" class="btn btn--orange btn--expand btn--round">Try virto now</a>
    </div>
{% endif %}