{% assign url_parts = page.url | split: '/' %}
{% if (url_parts contains 'docs') or (search.search_in == '/docs') %}
    <form class="search" action="{{ '/content/search' | absolute_url }}" method="post">
        <input name="SearchIn" id="SearchIn" type="hidden" value="/docs">
        <input name="Layout" id="Layout" type="hidden" value="docs">
        <input name="Keyword" id="Keyword" type="search" placeholder="Search docs" required="required" value="{{ search.terms }}">
    </form>
    
{% else %}
    <div class="swipe__header">
        <div class="swipe__nav">
            <div class="swipe__nav-item swipe__nav-item--show">
                {% comment %}
                <a class="swipe__nav-link" href="#">Login</a>
                {% endcomment %}
            </div>
            <div class="swipe__nav-item">
                <div class="swipe__back"></div>
            </div>
        </div>
        <div class="swipe__close ml-auto"></div>
    </div>
    <div class="swipe__body">
        <div class="nav">
            <ul class="flex-column">
                <!--tabs-->
                {%- assign menu_tabs = linklists['main-menu'] -%}
                {%- for tab in menu_tabs.links -%}
                <li class="nav__item">
                    <a class="nav__link">
                        {{ tab.title }}
                        <span class="nav__carret ml-auto"></span>
                    </a>
                </li>
                {%- endfor -%}
            </ul>
            <!--tabs-->
            {%- for tab in menu_tabs.links -%}
            <div class="nav__content">
                <ul class="nav flex-column">
                    <!--blocks-->
                    {%- assign tab_blocks = linklists[tab.url].links -%}
                    {%- for current_block in tab_blocks -%}
                    <li class="nav__item">
                        <div class="nav__t">{{ current_block.title }}</div>
                    </li>
                            {%- assign current_links = linklists[current_block.url] -%}
                        
                            <!--links-->
                            {%- for link in current_links.links -%}
                    <li class="nav__item">
                        <a class="nav__link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                            {%- endfor -%}
                        
                        {%- endfor -%}
                </ul>
            </div>
            {%- endfor -%}
            
            
            
        </div>
    </div>
    <div class="swipe__footer">
        <a href="/contact-us" class="btn btn--orange btn--expand btn--round">Try virto now</a>
    </div>
{% endif %}
