<div class="list list--paging">
  {% if paginator.previous %}
    <a class="list__item list__item--prev" href="{{ paginator.previous.url }}" title="{{ paginator.previous.title }}">Prev</a>
    {% endif %}

    {% for part in paginator.parts %}
    {% if part.is_link %}
    <a class="list__item" href="{{ part.url }}" title="">{{ part.title }}</a>
    {% else %}
        <span class="list__item list__item--active">{{ part.title }}</span>
    {% endif %}
    {% endfor %}

    {% if paginator.next %}
    <a class="list__item list__item--next" href="{{ paginator.next.url }}" title="{{ paginator.next.title }}">Next</a>
  {% endif %}
</div>
